[Unit]
Description=Apache Zookeeper server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=dataeaze
Group=dataeaze
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/
ExecStart=/bin/bash /home/dataeaze/Tools/kafka_2.12-2.2.0/bin/zookeeper-server-start.sh /home/dataeaze/Tools/kafka_2.12-2.2.0/config/zookeeper.properties
ExecStop=/bin/bash /home/dataeaze/Tools/kafka_2.12-2.2.0/bin/zookeeper-server-stop.sh

[Install]
WantedBy=multi-user.target
